body {
background-color: var(--primary-white-color);
color: var(--primary-text-color);
font-family: "Roboto", sans-serif; 
}
.list{
   list-style: none;  
}

/* колір основного тексту #212121 */

/* вторичний колір тексту #757575 */

/* колір тексту логотипу #FFFFFF */

/* чорний логотип хедер #000000 */

/* колір тексту #FFFFFF 60%  */

/* акцент #2196F3 */

/* вторичний колір фона  #F5F4FA */

/* колір фону героя та футера #2F303A */

/* колір фона хедера #ECECEC */

:root {
    --primary-text-color: #212121;  
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFF;
    --secondary-fon-color: #F5F4FA;
}

.logo {
    color: #000;
}
.logo-text {
    color: var(--accent-color);
}
/* site-nav */
.link {
    color:var(--primary-text-color);
}
.site-nav .link:hover ,
.site-nav .link:focus {
    color: var(--accent-color);
}

.link-contacts {
    color: var(--title-text-color);
}
.contacts .link-contacts:hover,
.contacts .link-contacts:focus {
     color: var(--accent-color);  
}
/* hero */
.hero {
    background-color: #2F303A;
}
.hero-title{
    color: var(--primary-white-color);
}
.button  {
    color: var(--primary-white-color);
    background-color: var(--accent-color); 
  }

.button:hover,      
.button:focus {
    background-color: #0977CE; 
}


/* section */
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
/* features */
.text {
    color: var(--title-text-color);
}
/* work */


/* team */
.section-team {
    background-size: var(--secondary-fon-color);
}

.subtitle {
    color: var(--title-text-color);
}

.team-image {
    background-color: #fff;
}

/* footer */
.footer {
background-color: #2F303A;
}
.logo-footer {
    color: var(--primary-white-color);
}
.link-adress {
 color: var(--primary-white-color); 
}

.link-items .link-adress:hover,
.link-items .link-adress:focus {
    color: var(--accent-color);
}  

.link-item {
    color: rgba(100%, 100%, 100%, 60%);
    }

.link-items .link-item:hover,
.link-items .link-item:focus {
    color: var(--accent-color);
    

