body {
 background-color: #FFF;
 color: #212121; 
}
.list{
  list-style: none;  
}
/* колір основного тексту #212121 */

/* вторичний колір тексту #757575 */

/* колір тексту логотипу #FFFFFF */

/* чорний логотип хедер #000000 */

/* колір тексту #FFFFFF 60%  */

/* акцент #2196F3 */

/* вторичний колір фона  #F5F4FA */

/* колір фону героя та футера #2F303A */

/* колір фрна хедера #ECECEC */

.logo {
 color: #000;
}

/* site-nav */
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

/* hero */
.hero-title{
    color: #FFF;
}


/* section */